[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=1.13.0"
torchvision = ">=0.14.0"
timm = "*"
efficientnet-pytorch = "*"
transformers = "*"
opencv-python = "*"
pillow = "*"
numpy = "*"
scikit-learn = "*"
albumentations = "*"
tqdm = "*"
matplotlib = "*"
seaborn = "*"
notebook = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.12"
